html {
  height: 100%;
}

body {
  background: #fff;
  font-family: Futura Book, Verdana, Geneva, sans-serif;

  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 250px;
}

.main {
  text-align: center;
  /*background-image: url(../img/bg-main.png);*/
  background-color: white;
  margin-top: 10%;
}

.main h1 {
  color: #C60C30;
  font-size: 120%;
}

.main h2 {
  color: #C60C30;
  font-size: 120%;
}

a {
  color: #C60C30;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: white;
  text-align: center;
  margin: 20px 0;
}